<h1>Contact</h1>
<p>Please send me an email if you have any questions or comments.</p>
<p>All email can be directed to <a href="mailto:ian@flamingballofwreckage.net">ian@flamingballofwreckage.net</a>.</p>
