<h1>Contact</h1>
<p>FreeMuseumsToday.com is still very much in development.</p>
<p>If you have any feedback or questions please send me an email, I would love to hear from you!</p>
<p>All email can be directed to <%= mail_to "ian@freemuseumstoday.com", "ian@freemuseumstoday.com", :subject => "Regarding Free Museums Today" %>.</p>
